<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head><title>Bratenliste</title></head>
    <body>
        <select name="sprache" onchange="location = this.value;">
            <option>Sprache wählen</option>
            <option th:value="@{?sprache=de}">Deutsch</option>
            <option th:value="@{?sprache=en}">English</option>
        </select>
        <form action="#" method="POST"
            th:action="@{/angebot}" th:method="POST">
            <h2 th:text="#{aktuelleAngebote}"></h2>
            <table cellpadding="10" border="1">
                <tr>
                    <th th:text="#{haltbarbis}"></th>
                    <th th:text="#{name}"></th>
                    <th th:text="#{abholort}"></th>
                    <th th:text="#{beschreibung}"></th>
                    <th th:text="#{vgradAuswahl}"></th>
                    <th>count</th>
                    <th th:text="#{delete}"></th>
                    <th th:text="#{edit}"></th>
                </tr>
                <tr th:each="ele, n : ${angebote}">
                    <td th:text="${ele.haltbarbis}">Haltbarkeit</td>
                    <td th:text="${ele.name}">Anbieter</td>
                    <td th:text="${ele.abholort}">Abholtort</td>
                    <td th:text="${ele.beschreibung}">Beschreibung</td>
                    <td th:text="${ele.vgradAuswahl}">Vgrad</td>
                    <td th:text="${n.count}"></td>
                    <td><a th:href="@{'/angebot/del/' + ${n.count}}">[del]</a></td>
                    <td><a th:href="@{'/angebot/neu/' + ${n.count}}">[edit]</a></td>
                </tr>
            </table>
            <p th:text="${hinweis}"></p>
            <p><a th:href="@{/angebot/neu}" th:text="#{neuenBraten}" ></a></p>
        </form>
    </body>
</html>