<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title><h2>Login</h2></title>
</head>
<form action="#" method="POST" th:action="@{/login}"  
    th:method="POST" th:object="${loginform}">
        <body>
            <h2>Login oder nicht?</h2>
                <!--<p th:text=${hinweis}></p>-->
                <div>
                    <label>Username</label>
                    <input type="text" th:field="*{loginname}"><br>
                    <p th:if="${#fields.hasErrors('loginname')}" th:errors="*{loginname}"></p>
                </div>
                <div>
                    <label>Passwort</label>
                    <input type="password" th:field="*{passwort}"><br>
                    <p th:if="${#fields.hasErrors('passwort')}" th:errors="*{passwort}"></p>
                </div>
                <div>
                    <label>Voller Name</label>
                    <input type="text" th:field="*{vollername}"><br>
                    <p th:if="${#fields.hasErrors('vollername')}" th:errors="*{vollername}"></p>
                </div>
                <div>
                    <label>Zustimmung Nutzeungsbedinungen!!</label>
                    <input type="radio" th:field="*{nutzungsbedingungenok}" th:value="true" /><br>
                </div>
            <input type="submit" value="login" name="submit"><br>
            <a th:href="@{/benutzer}">Kein Konto?</a>
        </body>
    </form>
</html>